@font-face {
  font-family: 'DOS-V';
  src: url('data/fonts/DOS-V-ANK16.woff');
}

html {
    font-family: 'DOS-V';
    background-color: black;
  }

  header {
    /*
    background-color: #0100AB;
    */
    color: #00AAAA;
    text-align: center;
    height: 40vh;
    width: 80vw;
    margin: 0;
  }

  .ascii-art {
    font-family: monospace;
    white-space: pre;
    /*
    color: #D63743;
    */
    color: #37FFFF;
}

  body {
    color: #EAE740;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: nowrap;
  }

  ul {
    line-height: 1.4;
  }

  /*
  border-inline-start: 4px solid;
  border-block-start: 4px solid;
  padding: 10px;
  border-image-source: radial-gradient(circle at top left, limegreen, transparent 50%);
  border-image-slice: 1;
  */

  a {
    color: #F4F453;
  }

  .text {
    border-inline-start: 4px solid;
    border-block-start: 4px solid;
    padding: 10px;
    border-image-source: radial-gradient(circle at top left, #D63743, transparent 50%);
    border-image-slice: 1;
    background-color: #0100AB;
    min-width: 40%;
  }

  img {
    width: 100%;
    height: auto;
    max-width: 30vw;
  }