@font-face {
    font-family: 'FMTowns';
    src: url('../data/fonts/Web437_FMTowns_re_8x16.woff');
  }
@font-face {
    font-family: 'ToshibaSat';
    src: url('../data/fonts/Web437_ToshibaSat_9x16.woff');
  }
  
  html {
      background-color: black;
      color: #AAAAAA;
    }

    header {
        text-align: center;    
    }

    body {
        line-height: 1.2;
    }

    a {
        color: #CC6600;
    }